html {
  background: #f0f0f0;
  color: #444; }
  html a {
    color: #418afa;
    text-decoration: none; }
    html a:hover {
      color: #418afa; }

body {
  max-width: 500px;
  margin: 0 auto; }

h1 {
  text-align: center; }
  h1 a {
    text-decoration: none; }

.adn-timeline {
  padding: .8em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .adn-timeline ul {
    padding-left: 0;
    list-style: none; }
  .adn-timeline li {
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: .4em;
    padding: 1em 1em; }
  .adn-timeline figure {
    position: relative;
    padding-right: 1.5em; }
  .adn-timeline figure, .adn-timeline blockquote, .adn-timeline p {
    margin: 0; }
  .adn-timeline .adn-post-url {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: .8em;
    color: #999;
    z-index: 1; }
    .adn-timeline .adn-post-url:hover {
      color: #418afa; }
