.adn-timeline { line-height: 1.3em; }
.adn-timeline a { text-decoration: none; }
.adn-timeline ul { padding-left: 0; list-style: none; }
.adn-timeline li { margin-bottom: .2em; padding: 1em 1em; }
.adn-timeline .adn-post { position: relative; padding-right: 2em; word-wrap: break-word; overflow: hidden; margin: 0; }
.adn-timeline .adn-author-avatar-link { float: left; margin: 0; width: 48px; }
.adn-timeline .adn-author-avatar-link:hover { text-decoration: none; }
.adn-timeline .adn-author-avatar-link ~ blockquote, .adn-timeline .adn-author-avatar-link ~ figcaption { margin-left: 60px; }
.adn-timeline .adn-author-avatar { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.adn-timeline figcaption p { margin-bottom: .5em; }
.adn-timeline blockquote { margin: 0; }
.adn-timeline p { margin: 0; }
.adn-timeline .adn-author-url { color: inherit; }
.adn-timeline .adn-author-name { font-weight: bold; }
.adn-timeline .adn-post-url { position: absolute; top: .1em; right: 0; text-decoration: none; font-size: .9em; z-index: 1; }
.adn-timeline .adn-username { font-weight: bold; }
.adn-timeline .adn-post-url { color: #999999; }
.adn-timeline .adn-post-url:hover, .adn-timeline .adn-author-url:hover { color: #418afa; }
.adn-timeline li { border: 1px solid rgba(0, 0, 0, 0.08); background: whitesmoke; }
.adn-timeline .adn-author-avatar { -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px; box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px; }
.adn-timeline .adn-author-username { opacity: .8; font-size: .9em; }
.adn-timeline ul { -webkit-animation: fade-in 0.4s ease-out; -moz-animation: fade-in 0.4s ease-out; -o-animation: fade-in 0.4s ease-out; animation: fade-in 0.4s ease-out; }

@-moz-keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-o-keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

html { background: #eaeaea; color: #444; }
html a, html a:hover { color: #418afa; }

body { max-width: 500px; margin: 0 auto; padding: 0 0.2em 1em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

form { padding: 0.8em 0.8em 0.2em; background: #f5f5f5; border: 1px solid rgba(0, 0, 0, 0.12); margin-bottom: .5em; }

.try { text-align: center; }
.try a { color: #999; }

form span { white-space: nowrap; }

input[name=count] { width: 3em; }

input[name=username] { width: 15em; }

input[type=checkbox] { position: relative; top: -.2em; margin: 0; padding-right: .2em; margin-bottom: .8em; }

input[type=text] { margin-right: .2em; margin-bottom: .8em; padding: .3em; border: 1px solid rgba(0, 0, 0, 0.15); font-size: 15px; }

label { margin-right: .2em; padding-left: .1em; }

h1 { text-align: center; padding: 0.4em 0; }

header { text-align: center; margin-bottom: 1.5em; }

footer { text-align: center; }

h2 { margin-bottom: .2em; }

p { margin-top: 0; }

pre { background: rgba(255, 255, 255, 0.5); -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; border-radius: 0.3em; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset, rgba(255, 255, 255, 0.5) 0 1px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset, rgba(255, 255, 255, 0.5) 0 1px; box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset, rgba(255, 255, 255, 0.5) 0 1px; padding: 0.5em 0.8em; font-size: 1.2em; white-space: pre-wrap; margin-bottom: 1.5em; }
