@import 'compass';

$link-color: #418afa;

html {
  background: #eaeaea;
  color: #444;
}

body {
  max-width: 500px; margin: 0 auto;
  padding: 0 .5em 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #418afa;
  text-decoration: none;
  &:hover {
    color: $link-color;
  }
}

form {
  padding: .8em .8em .2em;
  background: #f5f5f5;
  border: 1px solid rgba(#000, .12);
}
form span { white-space: nowrap; }
input[name=count] { width: 4em; }
input[name=username] { width: 15em; }
input[type=checkbox] {
  position: relative; top: -.2em;
  margin: 0;
  padding-right: .2em;
  margin-bottom: .8em;
}
input[type=text] {
  margin-right: .2em;
  margin-bottom: .8em;
  padding: .3em;
  border: 1px solid rgba(#000, .15);
  font-size: 15px;
}
label {
  margin-right: .2em;
  padding-left: .1em;
}

h1 {
  text-align: center;
  padding: .4em 0;
  a { text-decoration: none; }
}
.adn-timeline {
  ul {
    @include animation(fade-in-bounce-in .4s);
    padding-left: 0;
    list-style: none;
  }

  li {
    background: #f5f5f5;
    border: 1px solid rgba(#000, .08);
    margin-bottom: .4em;
    padding: 1em 1em;
  }

  figure {
    position: relative;
    padding-right: 1.5em;
    word-wrap: break-word;
  }

  figure, blockquote, p { margin: 0; }

  .adn-post-url {
    position: absolute;
    top: 0; right: 0;
    text-decoration: none;
    font-size: .8em;
    color: #999;
    z-index: 1;
    &:hover { color: $link-color; }
  }
}

footer {
  padding: 1em 0;
  text-align: center;
  a {
    color: #aaa;
    text-decoration: underline;
    &:hover { color: $link-color; }
  }
}

@include keyframes(fade-in-bounce-in) {
  0% {
    opacity: 0;
    @include scale(.95) }
  100% {
    opacity: 1;
    @include scale(1) }
}

