/* line 5, style.scss */
html {
  background: #eaeaea;
  color: #444;
}

/* line 10, style.scss */
body {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0.5em 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 16, style.scss */
a {
  color: #418afa;
  text-decoration: none;
}
/* line 19, style.scss */
a:hover {
  color: #418afa;
}

/* line 24, style.scss */
form {
  padding: 0.8em 0.8em 0.2em;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

/* line 29, style.scss */
form span {
  white-space: nowrap;
}

/* line 30, style.scss */
input[name=count] {
  width: 3em;
}

/* line 31, style.scss */
input[name=username] {
  width: 15em;
}

/* line 32, style.scss */
input[type=checkbox] {
  position: relative;
  top: -.2em;
  margin: 0;
  padding-right: .2em;
  margin-bottom: .8em;
}

/* line 38, style.scss */
input[type=text] {
  margin-right: .2em;
  margin-bottom: .8em;
  padding: .3em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 15px;
}

/* line 45, style.scss */
label {
  margin-right: .2em;
  padding-left: .1em;
}

/* line 50, style.scss */
pre {
  background: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset, rgba(255, 255, 255, 0.5) 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset, rgba(255, 255, 255, 0.5) 0 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset, rgba(255, 255, 255, 0.5) 0 1px;
  padding: 0.5em 0.8em;
  white-space: pre-wrap;
}

/* line 58, style.scss */
h1 {
  text-align: center;
  padding: 0.4em 0;
}
/* line 61, style.scss */
h1 a {
  text-decoration: none;
}

/* line 64, style.scss */
.adn-timeline ul {
  -webkit-animation: fade-in 0.4s ease-out;
  -moz-animation: fade-in 0.4s ease-out;
  -o-animation: fade-in 0.4s ease-out;
  animation: fade-in 0.4s ease-out;
  padding-left: 0;
  list-style: none;
}
/* line 70, style.scss */
.adn-timeline li {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: .4em;
  padding: 1em 1em;
}
/* line 77, style.scss */
.adn-timeline figure {
  position: relative;
  padding-right: 1.5em;
  word-wrap: break-word;
  *zoom: 1;
}
/* line 38, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.adn-timeline figure:after {
  content: "";
  display: table;
  clear: both;
}
/* line 84, style.scss */
.adn-timeline p {
  margin: 0;
}
/* line 85, style.scss */
.adn-timeline figure, .adn-timeline blockquote {
  margin: 0;
}
/* line 86, style.scss */
.adn-timeline figcaption p {
  margin-bottom: .5em;
}
/* line 88, style.scss */
.adn-timeline .adn-author-avatar {
  float: left;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  margin: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}
/* line 94, style.scss */
.adn-timeline .adn-author-avatar ~ blockquote, .adn-timeline .adn-author-avatar ~ figcaption {
  margin-left: 60px;
}
/* line 98, style.scss */
.adn-timeline .adn-author-url {
  color: inherit;
}
/* line 100, style.scss */
.adn-timeline .adn-author-url:hover {
  color: #418afa;
}
/* line 102, style.scss */
.adn-timeline .adn-author-name {
  font-weight: bold;
}
/* line 103, style.scss */
.adn-timeline .adn-post-url {
  position: absolute;
  top: .2em;
  right: 0;
  text-decoration: none;
  font-size: .8em;
  color: #999;
  z-index: 1;
}
/* line 110, style.scss */
.adn-timeline .adn-post-url:hover {
  color: #418afa;
}

@-moz-keyframes fade-in {
  /* line 115, style.scss */
  0% {
    opacity: 0;
  }

  /* line 116, style.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  /* line 115, style.scss */
  0% {
    opacity: 0;
  }

  /* line 116, style.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  /* line 115, style.scss */
  0% {
    opacity: 0;
  }

  /* line 116, style.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  /* line 115, style.scss */
  0% {
    opacity: 0;
  }

  /* line 116, style.scss */
  100% {
    opacity: 1;
  }
}
